<div class="container" style="text-align: center; max-width: 1100px; margin: 0px auto; font-size: 28px">
  <h2 style="font-weight: 400">Status Quo</h2>
</div>
<div class="container-home">
  <div class="task-list">
    <ul style="list-style: none; font-size: 18px">
        <h3 style="font-weight: 600">Tasks:</h3>
      <% @tasks.each do |task| %>
        <%= link_to task_path(task), class: "task-link" do %>
            <% if task.completed == true %>
              <li><label><input type="checkbox" name="html" value="html" checked><%= task.title %></label>
              <%= link_to "🗑", task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></li>
            <% else %>
              <li><label><input type="checkbox" name="html" value="html"><%= task.title %></label>
              <%= link_to "🗑", task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></li>
            <% end %>
          <% end %>
      <% end %>
    </ul>
  </div>
</div>

<div class="container">
  <div class="add-task" style="text-align: start; margin-top: 40px; font-size: 20px">
    <%= link_to '+ Add a new task', new_task_path, class: "task-link" %>
  </div>
</div>
